#containerFirst {
    /* border: 2px dashed crimson; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 30px;
    width: 1800px;
    margin: auto;
    margin-left: 100px;
    margin-top: 50px;
}
#containerFirst > .box {
    /* border: 2px solid green; */
    box-shadow: 0 -1px 20px 0 rgb(156 51 83 / 20%);
    border-radius: 10px;
    /* transition: 0.2s all ease-in-out; */
}
#containerFirst > .box:active {
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#containerFirst > .box:hover {
    cursor: pointer;
}

#containerFirst > .box > :nth-child(2) > img {
    /* border: 2px solid cornflowerblue; */
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#containerFirst > .box > :nth-child(1) {
    /* border: 2px dashed blue; */
    margin-top: 5px;
    padding-left: 10px;
    font-size: x-large;
    font-weight: bold;
    color: rgb(43, 42, 42);
    line-height: 30px;
}
#containerFirst > .box > :nth-child(3) {
    /* border: 2px dashed red; */
    display: flex;
    margin: auto;
    margin-top: 10px;
}
#containerFirst > .box > :nth-child(3) > :nth-child(1) {
    /* border: 2px solid orchid; */
    display: flex;
    align-items: center;
    
}
#containerFirst > .box > :nth-child(3) > :nth-child(1) > img  {
    margin-right: 0px;
    margin-left: 10px;
    /* border: 2px solid orange; */
}
#containerFirst > .box > :nth-child(3) > :nth-child(1) > div {
    text-align: center;
    margin: auto;
    margin-left: 20px;
    /* border: 2px solid crimson; */
}

#containerFirst > .box > :nth-child(3) > :nth-child(1) > div > h3 {
    /* background-color: green; */
    margin-bottom: -5px;
}

#containerFirst > .box > :nth-child(3) > :nth-child(1) > div > h6 {
    margin-top: -10px;
    margin-bottom: -20px;
    /* background-color: yellow; */
}
#containerFirst > .box > :nth-child(3) > :nth-child(2) {
    /* border: 2px solid black; */
    margin: auto;
    text-align: center;
    padding: 0px 2px;
}
#containerFirst > .box > :nth-child(3) > :nth-child(2) > h6,p {
    margin-bottom: 0px;
    margin-top: 0px;
}

#containerFirst > .box > :nth-child(4) {
    border-left: 3px solid #691A47;
    background-color: #F8F8F8;
    font-size: larger;
    margin: 20px 15px;
    padding: 10px 50px 10px 10px;
}
#containerFirst > .box > :nth-child(5) {
    margin-left: 180px;
}
#containerFirst > .box > :nth-child(5) > button {
    background-color: #812742;
    border: none;
    color: white;
    border-radius: 40px;
    padding: 10px 80px;
    font-size: 25px;
}
#containerFirst > .box > :nth-child(6) {
    /* border: 2px solid red; */
    margin-top: 20px;
    padding: 20px;
}
#containerFirst > .box > :nth-child(6) > p {
    line-height: 25px;
}


/* box2 section  */

#sideBox {
    /* border: 2px solid blueviolet; */
    padding-left: 680px;
    position: fixed;
}
#sideBox > .box2 {
    /* border: 2px dashed green; */
    padding: 10px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#sideBox > .box2 > :nth-child(1) {
    /* border: 2px dashed red; */
    text-align: left;
    padding-left: 20px;
}
#sideBox > .box2 > :nth-child(1) > hr {
    width:60px;
    margin-top: -15px;
    border: 1px solid black;
}
#sideBox > .box2 > :nth-child(2) {
    /* border: 2px dashed blue; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: -20px;
}
#sideBox > .box2 > :nth-child(2) > :nth-child(1) {
    /* border: 2px dashed red; */
    padding: 10px;
}
#sideBox > .box2 > :nth-child(2) > :nth-child(1) > img {
    width: 30%;
    margin-top: 10px;
}
#sideBox > .box2 > :nth-child(2) > :nth-child(2) {
    /* border: 2px dashed green; */
    margin-left: -40px;
}
#sideBox > .box2 > :nth-child(2) > :nth-child(2) > h3 {
    color: #691A47;
    margin-bottom: 5px;
}
#sideBox > .box2 > :nth-child(2) > :nth-child(2) > :nth-child(1) {
    margin-bottom: -15px;
}
#sideBox > .box2 > :nth-child(2) > :nth-child(2) > :nth-child(3) {
    margin-top: 0px;
}
#sideBox > .box2 > :nth-child(3) {
    border-left: 3px solid #691A47;
    background-color: #F8F8F8;
    font-size: larger;
    margin: 20px 15px;
    padding: 10px 50px 10px 10px;
}
#sideBox > .box2 > :nth-child(4)> a > button {
    background-color: #812742;
    border: none;
    color: white;
    border-radius: 40px;
    padding: 10px 170px;
    font-size: 25px;
}
#sideBox > .box2 > :nth-child(4) > button:active {
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#sideBox > .box2 > :nth-child(4) > button:hover {
    cursor: pointer;
}
#sideBox > .box2 > :nth-child(5) {
    color: #9C3353;
}
#sideBox > .box2 > :nth-child(6) {
    /* border: 2px solid red; */
    /* width: 60%; */
    margin: 30px;
}
#sideBox > .box2 > :nth-child(6) img{
    width: 50%;
}