* {
    margin: 0px;
    padding: 0px;
}

/* navbar portion here */


#parent {
  width: 100%;
  height: 75px;
  /* border: 2px dashed blue; */
  display: flex;
  justify-content: space-between;
  box-shadow: #f9e6ec 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}

#navLeft {
  width: 48%;
  height: 75px;
  /* border: 1px dashed red; */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;

}

#navRight {
  width: 35%;
  height: 75px;
  /* border: 1px dashed red; */
  display: flex;
  justify-content: space-between;
  /* margin: auto; */


}

#navRight>div:nth-child(1) {
  height: 75px;
  width: 47%;
  /* border: 1px dotted rgb(18, 19, 19); */

}

#navRight>div:nth-child(2) {
  height: 75px;
  width: 15%;
  /* border: 1px dotted rgb(18, 19, 19); */
  margin-right: 90px;
}

#navLeft>div:nth-child(7) {
  height: 75px;
  cursor: pointer;
  /* margin-right: -200px; */
  /* border: 1px dotted red; */
  /* width: 80%; */
  /* margin-right: 10px */
  /* margin-left: -100px; */
  /* padding-left: 30px; */
  /* width: 200px; */

}
#ind{
  cursor: pointer;
}

#navLeft>div>img {
  width: 100px;
  height: 41px;
  padding-top: 15px;
  padding-left: 20px;
  margin-right: 30px;
  cursor: pointer;
}

#navLeft>div>button {
  width: 100%;
  height: 100%;
  background-color: white;
  border: white;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  min-width: 100px;
  /* margin: 0 -20px; */

}

#navLeft>div>button:hover {
  width: 100%;
  height: 100%;
  background-color: #f5f1f1;
  cursor: pointer;
}
#navLeft>div>button:focus {
  background-color: #9c3353;
  color: white;

}

#navRight>div>img {
  width: 50px;
  height: 50px;
  padding-left: 16px;
  padding-top: 12px;
  padding-right: 20px;
  cursor: pointer;

}

#navRight>div>button {
  cursor: pointer;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding-left: 5px;
  padding-right: 5px; */
  border-radius: 25px;
  margin-top: 10px;
  /* margin-left: 5px; */
  margin-right: 10px;
  background-color: #9c3353;
  color: white;
  border: 1px solid #9c3353;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: large;
}

#navRight>div>button:hover {
  background-color: #982346;
  box-shadow: #9c3353 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
/* toggle-button */
.toggle { 
position : relative ;
display : inline-block;
width : 77px;
height : 19.3px;
background-color: #9c3353;
border-radius: 20px;
border: 1px solid #9c3353;
padding-top: 3px;
/* padding-left: 12px; */
margin-top: 25px;
margin-left: 10px;
cursor: pointer;
}
/* toggle-ball */
.toggle:after {
content: '';
position: absolute;
width: 33px;
height: 33px;
border-radius: 50%;
background-color: #f5f1f1;
top : -5px;
left : -1px;
transition :  all 0.4s;
box-shadow: #f9e6ec 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
/* padding-left: 10px; */
}
 
/* Toggle text */
#ind{
font-family: Arial, Helvetica, sans-serif;
color:  #f4ebeb;
font-size: 13px;
padding-top: 1px;
margin: 0;
}
/* movement of ball from left to right  */
.checkbox:checked + .toggle::after {
left : 48px;
}
.checkbox:checked + .toggle {
background-color: #9c3353;
}
 
/* Checkbox vanished */
.checkbox {
display : none;
} 
#LOSIN{
  width: 12%;
  height: 35px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* display: flex; */
  /* flex-wrap: nowrap; */
  /* justify-content: center; */
  margin-left: 86.5%;
  display: none;
  /* border: 1px solid red; */
  margin-top: -0.5%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
#LOSIN>div{
 /* height: 32px; */
 width: 50%;
 text-align: center;
 cursor: pointer;
 /* margin: auto; */
 /* border: 1px solid green; */
}
#LOSIN>div:first-child{
  border-right: 1px solid #982346;
}
#LOSIN>div h5{
  font-weight: 400;
  font-size: medium;
  color: #982346;
}

/* @media screen and (min-width: 720px) and (max-width:1024px){
} */
@media screen and (max-width:1100px){
  #navRight>div{
      display: none;
  }
}


/* donate page here  */

#top {
    border: 1px solid rgb(160, 160, 160);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: #F8F8F8;
}
#top > :first-child {
    font-size: small;
}
#top > :nth-child(2) {
    /* border: 2px solid green; */
    margin-left: -10px;
}
#btndiv {
    /* border: 2px dashed blue; */
    display: flex;
    justify-content: right;
    align-items: center;
    width: 75%;
    margin: auto;
    margin-top: 30px;
    
}
#btndiv > button {
    /* border: 1px solid #691A47; */
    background-color: white;
    color: #691A47;
    font-size: 20px;
    padding: 8px 50px;
    border-radius: 50px;
    border: 1px solid #691A47;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* transition: 0.2s all ease-in-out; */
}
#btndiv > button:active {
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#btndiv > button:hover {
    cursor: pointer;
}
#containerFirst {
    /* border: 2px dashed crimson; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 30px;
    width: 75%;
    margin: auto;
    margin-top: 50px;
}
#containerFirst > .box {
    /* border: 2px solid green; */
    box-shadow: 0 -1px 20px 0 rgb(156 51 83 / 20%);
    border-radius: 10px;
    /* transition: 0.2s all ease-in-out; */
}
#containerFirst > .box:active {
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#containerFirst > .box:hover {
    cursor: pointer;
}

#containerFirst > div > :nth-child(1) > img {
    /* border: 2px solid cornflowerblue; */
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#containerFirst > .box > :nth-child(2) {
    /* border: 2px dashed blue; */
    margin-top: 5px;
    padding-left: 10px;
    font-size: small;
    font-weight: bold;
    color: rgb(43, 42, 42);
    line-height: 20px;
}
#containerFirst > .box > :nth-child(3) {
    /* border: 2px dashed red; */
    display: flex;
    margin: auto;
    margin-top: 10px;
}
#containerFirst > .box > :nth-child(3) > :nth-child(1) {
    /* border: 2px solid orchid; */
    display: flex;
    align-items: center;
    
}
#containerFirst > .box > :nth-child(3) > :nth-child(1) > img  {
    margin-right: 0px;
    margin-left: 10px;
    /* border: 2px solid orange; */
}
#containerFirst > .box > :nth-child(3) > :nth-child(1) > div {
    text-align: center;
    margin: auto;
    margin-left: 20px;
    /* border: 2px solid crimson; */
}

/* #containerFirst > .box > :nth-child(3) > :nth-child(1) > div > h3 {
    /* background-color: green; */
    /* color: yellow; 
} */

#containerFirst > .box > :nth-child(3) > :nth-child(1) > div > h6 {
    margin-bottom: 10px;
    /* background-color: blue; */
    /* color: blue; */
}
#containerFirst > .box > :nth-child(3) > :nth-child(2) {
    /* border: 2px solid black; */
    margin: auto;
    text-align: center;
    padding: 0px 2px;
}
#containerFirst > .box > :nth-child(3) > :nth-child(2) > h6,p {
    margin-bottom: 0px;
    margin-top: 0px;
}

#containerFirst > .box > :nth-child(4) {
    border-left: 3px solid #691A47;
    background-color: #F8F8F8;
    margin: 20px 15px;
    padding: 0px 0px 0px 10px;
}


#middleBar {
    /* border: 2px dashed crimson; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 70%;
    padding: 10px 10px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
#middleBar > .midBox {
    /* border: 2px dashed green; */
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px 50px;
    padding: 0px 20px;    
    background-color: white;    
}
#middleBar > .midBox {
    margin-top: 10px;
}
#middleBar > :nth-child(2) {
    border-left: 2px solid #691A47;    
    margin-left: 0px;
}
#middleBar > .midBox >  :nth-child(1) {
    /* border: 2px solid black; */
    display: flex;
    text-align: center;
    padding: 0px 10px;
}
#middleBar > .midBox > :nth-child(2) {
    margin-top: 0px;
}
#middleBar > .midBox > :nth-child(2) {
    /* border: 2px solid black; */
    display: flex;
    /* flex-wrap: wrap; */
    gap: 0px 30px;
    justify-content: space-around;
    padding: 10px;
}
#middleBar > .midBox > div > div{
    /* border: 2px dashed green; */
    width: 100%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
}
#middleBar > .midBox > div > div > h5 {
    margin-top: 20px;
    font-weight: bold;
    /* color: red; */
}

#middleBar > .midBox > div > div {
    height: 70px;
    transition: 0.2s all ease-in-out;
}
#middleBar > .midBox > div > div:active {
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#middleBar > .midBox > div > div:hover {
    cursor: pointer;
}

#emergency {
    /* border: 2px dashed black; */
    background-image: linear-gradient(90deg,#602747,#9A3252);
    display: grid;
    padding: 40px;
    margin-top: 20px;
}
#emergency > div {
    /* border: 2px solid red; */
    background-color: white;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    margin: auto;
    padding: 20px 50px;
    align-items: center;
}
#emergency > div > :nth-child(1) {
    /* border: 2px dashed green; */
    padding: 0px 20px;
    font-size: large;
    text-align: center;
}
#emergency > div > :nth-child(2) {
    /* border: 2px dashed green; */
    margin: auto;
}

#emergency > div > :nth-child(2) > button {
    background-color: #9C3353;
    border: none;
    color: white;
    border-radius: 40px;
    padding: 10px 30px;
    font-size: 20px;
}
#seeMore {
    /* border: 2px solid red; */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
#seeMore > button {
    border: none;
    background-color: white;
    text-align: center;
    font-size: large;
    color: #9A3252;
    margin-top: 20px;
}
#seeMore > button:active {
    transform: scale(1.02);
    cursor: pointer;
}
#seeMore > button:hover {
    cursor: pointer;
}

#emergency > div > :nth-child(2) > button:active {
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#emergency > div > :nth-child(2) > button:hover {
    cursor: pointer;
}


/* footer bar css  */


#container {
    /* border: 2px dashed crimson; */
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: flex-start;
    width: 100%;
    margin: auto;
    padding: 10px 0px;
    box-shadow: 0 -1px 20px 0 rgb(156 51 83 / 20%);
  }
  #container > div {
    margin-top: 20px;
  }
  #container > .dd1, .dd2, .dd3, .dd4 {
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    margin-left: 20px;
    justify-content: left;
  }
  #container > .dd1 > div {
    /* border: 1px dashed green; */
    margin-top: 15px;
    margin-bottom: 20px;
    /* width: 120px; */
  }
  #container > .dd2 > div {
    /* border: 1px dashed green; */
    margin-top: 10px;
    margin-bottom: 5px;
    /* width: 150px; */
  }
  #container > .dd3 > div {
    /* border: 1px dashed green; */
    margin-top: 10px;
    line-height: 20px;
  }
  #container > .dd3 > :nth-child(4) > h5 {
    margin-top: 20px;
  }
  #container > .dd3 {
    /* border: 2px dashed red; */
    margin-right: 160px;
    width: 100px;
  }


  #container > .dd4 {
    /* border: 2px dashed red; */
    margin-right: 40px;
    margin-left: -10px;
  }


  #container > .dd4 > div {
    /* border: 2px dashed crimson; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 270px;
    align-items: center;
    margin: 10px 0px;
  }
  #container > .dd4 > :nth-child(2) > :nth-child(2) {
    /* border: 2px dashed green; */
    margin-left: -20px;
  }
  #container > .dd4 > :nth-child(2) > :nth-child(3) {
    /* border: 2px dashed purple; */
    margin-left: -20px;    
  }
  #container > .dd4 > :nth-child(3) > :nth-child(1) {
    /* border: 2px dashed green; */
    margin-right: -20px;
  }
  #container > .dd4 > :nth-child(3) > :nth-child(2){
    /* border: 2px dashed red; */
    margin-right: -50px;
  }
  
 

  #container > .dd5 {
    /* border: 2px dashed black; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 25px;
    margin-left: -20px;
    margin-right: 20px;
    text-align: center;
    padding: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgb(250, 248, 248);
  }
  #container > .dd5 > div {
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    margin-right: 60px;
    width: 100%;
  }
  #container > .dd5 > :nth-child(2) > div {
    /* border: 2px solid crimson; */
    margin-bottom: -10px;
    margin-left: -70px;
    margin-right: 20px;
    padding: 10px;
  }
  #container > .dd5 > :nth-child(2) > :nth-child(3) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #container > .dd5 > :nth-child(2) > :nth-child(3) > div {
    margin-bottom: 10px;
  }
  #container > .dd2 > div > p > span {
    color: #9c3353;
  }
  #container > .dd4 > button {
    background-color: #9c3353;
    border: none;
    border-radius: 50px;
    margin: 30px 20px;
    width: 220px;
    padding: 15px 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.5ms;
  }
  #container > .dd4 > button:hover {
    cursor: pointer;
  }
  #container > .dd4 > button:active {
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  #container > .dd5 > :nth-child(2) > :nth-child(2) > h4 {
    color: #9c3353;
  }
  
  #container > div > h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 0px;
  }
  #container > .dd3 > :nth-child(4) > h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 0px;
  }
  #container > div > div > P {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(75, 73, 73);
    font-size: smaller;
  }
  #container > div > div > div > P {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(75, 73, 73);
    font-size: smaller;
  }

  #container > div > hr {
    width: 10px;
    border: 1px solid black;
    margin-top: 0px;
  }
  #container > div > div > hr {
    width: 10px;
    border: 1px solid black;
    margin-top: 0px;
  }

  #blackBottom {
    background-color: #212121;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: white;
    margin: auto;
    text-align: center;
    align-items: center;
  }
  
  #blackBottom > div > h6 {
    color: white;
    margin-top: 10px;
  }

  #blackBottom > div > p {
    color: gray;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  @media screen and (min-width: 720px) and (max-width: 1280px) {
    #container {
      grid-template-columns: repeat(2, 1fr);
    }
    #container > .dd1, .dd2, .dd3 {                
      grid-template-columns: repeat(1, 1fr);       
    }
    #container > .dd4 > div > :nth-child(1) {        
      grid-template-columns: repeat(2, 1fr);                
    }
    #container > .dd5 {
      grid-template-columns: repeat(2, 1fr);
    }      
    #blackBottom {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 0px) and (max-width: 719px) {
    #container {
      grid-template-columns: repeat(1, 1fr);
    }
    #container > .dd1, .dd2, .dd3 {               
      grid-template-columns: repeat(1, 1fr);
    }
    
    #container > .dd4 > div {        
      grid-template-columns: repeat(1, 1fr);                
      margin: auto;
      margin-top: 10px;
      margin-left: 40px;
      width: 100%;
    }
    #container > .dd4 > :nth-child(2) > div {
      /* border: 2px solid green; */
      margin-top: 10px;
      width: 90%;
    }
    #container > .dd4 > :nth-child(3) > :nth-child(2) {
      /* border: 2px dashed red; */
      margin-left: -20px;
      margin-top: 10px;
      width: 90%;
    }
    #container > .dd5 {
      grid-template-columns: repeat(1, 1fr);
      width: 90%;
    } 
    #blackBottom {
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
    }
  }




/* here media screen */

@media screen and (min-width: 720px) and (max-width: 1280px) {
    #containerFirst {
        grid-template-columns: repeat(2,1fr);
        width: 95%;
    }
    #middleBar {
        width: 90%;
    }
}


@media screen and (min-width: 0px) and (max-width: 719px) {
    #top {
        flex-wrap: wrap;
    }
    #containerFirst {
        grid-template-columns: repeat(1,1fr);
        width: 95%;
    }
    #middleBar {
      /* border: 2px solid red; */
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        width: 90%;
    }
    
    #emergency > div {
        grid-template-columns: repeat(1,1fr); 
        margin-left: -20px;       
    }
    #emergency > div > :nth-child(2) {
        /* border: 2px solid black; */
        margin-bottom: 20px;
        
    }
    #emergency > div > :nth-child(2) > button {
        padding: 10px;
        font-size: medium;
        margin: auto;
        margin-top: 10px;
    }
    #middleBar > .midBox > :nth-child(2) {
        /* border: 2px solid red; */
        flex-wrap: wrap;
    }
    #middleBar > :nth-child(2) {
        border: none;
    }
}